<!DOCTYPE html>
<html>

<head>
  {% block  head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel = "stylesheet"
   type = "text/css"
   href = "{{url_for('static', filename='css/style.css')}}" />
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body class='has-navbar-fixed-top'>
  {% block nav %}{% endblock nav %}
  {% block content %}{% endblock %}
  <div id="footer">
    {% block footer %}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>&copy; The Baker's Dozen of Yale, 2019</p>
      </div>
    </footer>
    {% endblock %}
  </div>
</body>

</html>